<div class="container">
  <h1 class="display-4">Result</h1>
  <p>Your guess: <%= @attempt %>. The grid: <%= @grid.join(" ") %>.</p>
  <h1 class="display-6">Here is your result:</h1>
  <%# 2nd attempt %>
  <% if @is_in_grid %>
    <% if @is_english_word %>
      <p>Great, your word is in the grid and an english word!</p>
    <% else %>
      <p>Sorry, while <%= @attempt %> is in the grid, it is not a valid English word.</p>
    <% end %>
  <% else %>
    Sorry but <%= @attempt %> cannot be built from <%= @grid.join(" ") %>.
  <% end %>
  <br>
  <%= link_to "Play again!", new_path %>
</div>
